@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background-color: #38404B;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1180px;
}
@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.main-title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  color: #94ADCF;
}
@media (max-width: 476px) {
  .main-title {
    font-size: 42px;
    line-height: 42px;
  }
}

.todo {
  padding-top: 70px;
  padding-bottom: 70px;
}
.todo__top {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .todo__top {
    margin-bottom: 50px;
  }
}
.todo__input-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
@media (max-width: 768px) {
  .todo__input-box {
    width: 95%;
  }
}
.todo__input {
  padding: 0px 38px;
  width: 590px;
  height: 59px;
  background-color: #38404B;
  box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
  border-radius: 16px;
  border-color: rgba(46, 53, 62, 0.2);
  color: #94ADCF;
}
@media (max-width: 768px) {
  .todo__input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .todo__input {
    padding: 0 15px;
  }
}
.todo__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(148, 173, 207, 0.5);
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(148, 173, 207, 0.5);
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(148, 173, 207, 0.5);
  transition: opacity 0.3s;
}
.todo__input:focus::-moz-placeholder, .todo__input:active::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input:focus:-ms-input-placeholder, .todo__input:active:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input:focus::placeholder, .todo__input:active::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.todo__input:focus-visible {
  outline: none;
}
.todo__input-edit {
  border-radius: 16px;
  padding: 0px 15px;
  width: 200px;
  height: 100%;
  background-color: #94ADCF;
}
@media (max-width: 1024px) {
  .todo__input-edit {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .todo__input-edit {
    width: 200px;
  }
}
.todo__input-edit::-moz-placeholder {
  color: #000;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input-edit:-ms-input-placeholder {
  color: #000;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input-edit::placeholder {
  color: #000;
  transition: opacity 0.3s;
}
.todo__input-edit:focus::-moz-placeholder, .todo__input-edit:active::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input-edit:focus:-ms-input-placeholder, .todo__input-edit:active:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.todo__input-edit:focus::placeholder, .todo__input-edit:active::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.todo__input-edit:focus-visible {
  outline: none;
}
.todo__btn {
  position: absolute;
  padding: 7px;
  top: 35%;
  right: 4%;
  width: 15px;
  height: 15px;
  border-top: 4px solid #94ADCF;
  border-left: 4px solid #94ADCF;
  transform: rotate(-225deg);
  transition: all 0.1s ease-in-out;
}
.todo__btn:hover {
  filter: brightness(90%);
}

.todo__title {
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #94ADCF;
}
@media (max-width: 476px) {
  .todo__title {
    font-size: 26px;
    line-height: 26px;
  }
}

.todo-list__today {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .todo-list__today {
    grid-template-columns: repeat(1, 1fr);
  }
}

.todo-today__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding: 21px 24px;
  box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
  line-height: 24px;
  background-color: #38404B;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
@media (max-width: 576px) {
  .todo-today__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.todo-today__item:hover {
  filter: brightness(90%);
}
.todo-today__text {
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  max-width: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #94ADCF;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (max-width: 1024px) {
  .todo-today__text {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .todo-today__text {
    max-width: 200px;
  }
}
@media (max-width: 476px) {
  .todo-today__text {
    max-width: 160px;
  }
}
.todo-today__box {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.todo-today__buttons {
  display: flex;
  align-items: center;
}
.todo-today__btn {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  transition: all 0.1s ease-in-out;
}
.todo-today__btn svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.todo-today__btn svg path {
  fill: #94ADCF;
}
@media (max-width: 992px) {
  .todo-today__btn {
    margin-right: 10px;
  }
}
.todo-today__btn:hover {
  filter: brightness(110%);
  transform: scale(1.2);
}

.todo-list__complete {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 1024px) {
  .todo-list__complete {
    grid-template-columns: repeat(1, 1fr);
  }
}

.todo-complete__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding: 21px 24px;
  box-shadow: 1px 1px 2px rgba(64, 74, 86, 0.3), -1px -1px 2px rgba(48, 54, 64, 0.5), inset -5px 5px 10px rgba(48, 54, 64, 0.2), inset 5px -5px 10px rgba(48, 54, 64, 0.2), inset -5px -5px 10px rgba(64, 74, 86, 0.9), inset 5px 5px 13px rgba(48, 54, 64, 0.9);
  line-height: 24px;
  background-color: #38404B;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
@media (max-width: 576px) {
  .todo-complete__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.todo-complete__item:hover {
  filter: brightness(90%);
}
.todo-complete__buttons {
  display: flex;
  align-items: center;
}
.todo-complete__text {
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  max-width: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #94ADCF;
  text-decoration: line-through;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (max-width: 1024px) {
  .todo-complete__text {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .todo-complete__text {
    max-width: 200px;
  }
}
@media (max-width: 476px) {
  .todo-complete__text {
    max-width: 160px;
  }
}
.todo-complete__box {
  display: flex;
  align-items: center;
}
.todo-complete__btn {
  margin-right: 20px;
  width: 24px;
  height: 24px;
  transition: all 0.1s ease-in-out;
}
.todo-complete__btn svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.todo-complete__btn svg path {
  fill: #94ADCF;
}
@media (max-width: 992px) {
  .todo-complete__btn {
    margin-right: 10px;
  }
}
.todo-complete__btn:hover {
  filter: brightness(110%);
  transform: scale(1.2);
}

.todo__delete {
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.todo__delete:hover {
  transform: scale(1.1);
}

.todo__edit {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background-image: url("../img/svg/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.todo__edit:hover {
  transform: scale(1.1);
}

.todo__item.anim {
  -webkit-animation: opacity 0.8s ease-in-out;
          animation: opacity 0.8s ease-in-out;
}

@media (max-width: 476px) {
  .todo-text {
    font-size: 16px;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */